<% logs = logs.reverse() %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="/manifest/arwaMill_manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href=" /css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="navbar navbar-dark bg-dark">
    <div class="ms-2 navbar-brand">
      Arwa Milling
    </div>
  </div>


  <div class="p-3 container-fluid card mt-2" style="font-size:16px;">
    <h5>Milling status</h5>
    <br>
    <p>
      <span class="fw-bold">Mill :</span><input class=" ms-3 btn-sm p-3 py-0 btn-dark border-0" type="button" id="state"
        value="<%= logs[0].millState %>"> <br>
      <span class="fw-bold"> Tags :</span>
      <% logs.forEach(log=> { %>
      <% log.tags.forEach(tag => { %>
      <%= tag %>,&nbsp;
      <% }) %>
      <% }) %> <br>
      <span class="fw-bold">Start Date :</span><%= logs[0].logTime.toLocaleDateString('en-IN') %> <br>
      <span class="fw-bold">Start Time :</span><%= logs[0].logTime.toLocaleTimeString('en-IN',{ hour: '2-digit', minute: '2-digit'}) %> <br>
      <span class="fw-bold">running time -</span> <%= Math.round(Math.abs((logs[0].logTime-logs[1]?.logTime)/36e5*100))/100 %> Hrs <br>
      <span class="fw-bold">Logged By : </span><%= logs[0].user %> <br>
      <span class="fw-bold">Note :</span><%= logs[0].naration %> <br>
    </p>
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-primary me-2 w-25" id="submit" type="button">Button</button>
    </div>
  </div>


  <script>
    let state = document.getElementById('state').value
    console.log(state)
    if (state == "ON") {
      document.getElementById('state').classList.add("bg-success")
    } else if (state == "OFF") {
      document.getElementById('state').classList.add("bg-danger")
    }
  </script>


  <script src="./scripts/scripts.js"></script>
</body>

</html>