<% logs = logs.reverse() %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="/manifest/arwaMill_manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href=" /css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="navbar navbar-dark bg-dark">
    <div class="ms-2 navbar-brand">
      GREEN AGRI CORP PVT LTD
    </div>
  </div>


  <div class="p-3 container-fluid bg-light mt-2 d-none" style="font-size:14px;font-weight: 400;">
    <h5>Milling status</h5>
    <br>
    <p>
      <span class="fw-bold">Mill : &ensp; &ensp; </span><input class=" ms-3 btn-sm p-3 py-0 btn-dark border-0"
        type="button" id="state" value="<%= logs[0].millState %>"> <br>
      <span class="fw-bold"> Tags : &ensp; &ensp; </span>
      <% logs.forEach(log=> { %>
      <% log.tags.forEach(tag => { %>
      <%= tag %>, &nbsp;
      <% }) %>
      <% }) %> <br>
      <span class="fw-bold">Start Date : &ensp; &ensp; </span><%= logs[0].logTime.toLocaleDateString('en-IN') %> <br>
      <span class="fw-bold">Start Time
        : &ensp; &ensp; </span><%= logs[0].logTime.toLocaleTimeString('en-IN',{ hour: '2-digit', minute: '2-digit'}) %>
      <br>
      <span class="fw-bold">running time : &ensp; &ensp;</span>
      <%= Math.round(Math.abs((logs[0].logTime-logs[1]?.logTime)/36e5*100))/100 %> Hrs <br>
      <span class="fw-bold">Logged By : &ensp; &ensp; </span><%= logs[0].user %> <br>
      <span class="fw-bold">Note : &ensp; &ensp; </span><%= logs[0].naration %> <br>
    </p>
    <div class="d-grid gap-2 d-flex justify-content-end">
      <button class="btn btn-primary me-2 w-25" id="submit" type="button">Button</button>
    </div>
  </div>


  <script>
    let state = document.getElementById('state').value
    console.log(state)
    if (state == "ON") {
      document.getElementById('state').classList.add("bg-success")
    } else if (state == "OFF") {
      document.getElementById('state').classList.add("bg-danger")
    }
  </script>


  <script src="./scripts/scripts.js"></script>
</body>

</html>