<% console.log(labLogs); %> 
<% labLogs = labLogs.reverse() %>

<% console.log(labLogs) %> 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="/manifest/arwalab_manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href=" /css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="navbar navbar-dark bg-dark">
    <div class="ms-2 navbar-brand">
      Arwa Lab
    </div>
    <div class="navbar-text"><a href="../">s</a></div>
  </div>


  <div class="p-3 container-fluid card mt-2" style="font-size:16px;">
    <h5>Lab Report</h5>
    <br>
    <p>
      <span class="fw-bold">Date :</span><input class=" ms-3 btn-sm p-3 py-0 btn-dark border-0 btn-light" type="button" id="state"
        value="<%= labLogs[0].date.toLocaleDateString() %>"> <br>
      Husker : <%= labLogs[0].broken.h[0] %> <br>
      Whitner 1 : <%= labLogs[0].broken.h[0] %> <br>
      Whitner 2 : <%= labLogs[0].broken.h[0] %> <br>
      Husker : <%= labLogs[0].broken.h[0] %> <br> 
      
    </p>
    <div class="d-grid gap-2 d-flex justify-content-end">
    </div>
    <button class="btn btn-primary me-2 w-25 " id="submit" type="button">Button</button>
  </div>


</body>

</html>