<% logs = logs.reverse() %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="/manifest/gateApp_manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href=" /css/style.css">
  <title>Document</title>
</head>

<body>

  <div class="navbar navbar-dark bg-dark">
    <div class="ms-2 navbar-brand">
      GREEN AGRI CORP PVT LTD
    </div>
  </div>

  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">

    <div class="navbar navbar-dark bg-success <%=  %>  container-fluid mt-0 text-light">
      Truck no :
      <%= logs[0].truck %>
      <%= logs[0].broker %>
      <%= logs[0].party %>
      <%= logs[0].hemal %>
      <span class="align-content-end">
        <%= logs[0].state[1].at%>
      </span>
    </div>

    <div class="ps-3 pb-2 mt-2">
      <details open>
        <summary style="display: block;">
          gp no :<%= logs[0].gatepass_no.split('-',3)[2] %> <br>

        </summary>
        <p>
          date :<%= logs[0].date.getDate() + logs[0].date.getFullYear() %> <br>
          broker :<%= logs[0].broker %> <br>
          <br>
          <%= logs %> <br>

        </p>
      </details>

    </div>
  </div>

  <% logs.forEach(log => { %>
  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">

    <div class="navbar navbar-dark bg-success <%=  %>  container-fluid mt-0 text-light">
      Truck no :
      <%= log.truck %>
      <%= log.broker %>
      <%= log.party %>
      <%= log.hemal %>
      <span class="align-content-end">
        <% log.state.forEach(el => { %>
        <br><%= el.state %>
        by <%= el.by %>
        <% }) %>
        <br>
        <% log.ActualDetails.forEach(el => { %>
        <br>
        bags :<%= el.bags %>
        qt :<%= el.qt %>
        rate :<%= el.rate %> <br>
         naration :<%= el.naration %>
        <% }) %>
      </span>
    </div>

    <div class="ps-3 pb-2 mt-2">
      <details>
        <summary style="display: block;">
          gp no :<%= log.gatepass_no.split('-',3)[2] %> <br>

        </summary>
        <p>
          date :<%= log.date.getDate() + log.date.getFullYear() %> <br>
          broker :<%= log.broker %> <br>
          <br>
          <%= log %> <br>

        </p>
      </details>

    </div>
  </div>
  <% }) %>


  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-info  container-fluid mt-0 text-dark">
      arwa mill <span class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2 ">
      <details>
        <summary style="display: block;"> Epcot Center</summary>
        <p class="mt-2">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international
          pavilions, award-winning fireworks and seasonal special events.</p>
        <form action="/in" method="post">
          <input type="text">

        </form>
      </details>
    </div>
  </div>



  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-secondary container-fluid mt-0 text-light ">
      Truck no : <span class="text-capitalize">CG04 AJ <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2">
      drie
    </div>
  </div>

  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">

    <div class="navbar navbar-dark bg-success <%=  %>  container-fluid mt-0 text-light">
      Truck no : <span class="text-capitalize">CG04 AJ <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2">
      drie
    </div>
  </div>


  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-warning <%=  %>  container-fluid mt-0 text-dark <%=  %> ">
      Truck no : <span class="text-capitalize">cg04 aj <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2 ">
      drie
    </div>
  </div>


  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-danger <%=  %>  container-fluid mt-0 text-light <%=  %> ">
      Truck no : <span class="text-capitalize">cg04 aj <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2">
      drie
    </div>
  </div>

  <div class="p-0 container-fluid bg-light mt-2" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-primary <%=  %>  container-fluid mt-0 text-light <%=  %> ">
      Truck no : <span class="text-capitalize">cg04 aj <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2">
      drie
    </div>
  </div>




  <div class="p-0 container-fluid bg-light mt-2 d-none" style="font-size:14px;font-weight: 400;" id="log">
    <div class="navbar navbar-dark bg-dark <%=  %>  container-fluid mt-0 text-light <%=  %> ">
      Truck no : <span class="text-capitalize">cg04 aj <strong> 4231</strong></span>kalim fci lot( group) <span
        class="align-content-end">time</span>
    </div>
    <div class="ps-3 pb-2 mt-2">
      drie
    </div>
  </div>




  <div class="mt-3 container-fluid bg-white p-0">
    <span class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-success text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span><span
      class="card-img navbar bg-primary text-light w-25 m-0 ps-3 rounded-0 d-inline-block"
      style="font-size: 14px;font-weight: 300;">Truck no
      <br> CG 04 jb 2995 </span>
    <span class="card-header-tabs"> this</span>
    <span class="card-body">pill header</span>
    <div class="card-footer">this is footer</div>
  </div>









  <script>
    let state = document.getElementById('state').value
    console.log(state)
    if (state == "ON") {
      document.getElementById('state').classList.add("bg-success")
    } else if (state == "OFF") {
      document.getElementById('state').classList.add("bg-danger")
    }
  </script>


  <script src="./scripts/scripts.js"></script>
</body>

</html>