<%- include('partials/header') -%>



<!-- passing the data from the ejs to input to vue app  -->
<input id="ejsdata" type="text" class="d-none" value="[]">


<div id="app" class="d-none">

  <nav-bar>
    <a href="<%= titlehref?titlehref:'#' %> " class="navbar-brand">
      <%= title?title:"Deafult Title" %>
      <div class="badge font-monospace fw-lighter" style="font-size: 12px;">(<%= user %>)</div>

    </a>
  </nav-bar>


  <div class="container mt-5 position-relative m-5 flex flex-lg-row" >

    <a href="/branreport" class="text-decoration-none text-light m-2 p-4 bg-secondary rounded ">Bran Report</a>
    <a href="/branreport" class="text-decoration-none text-light m-2 p-4 bg-secondary rounded ">Bran Report</a>

  </div>

</div>



<%- include('partials/footer') -%>