<%- include('../partials/header') -%>

<!-- passing the data from the ejs to input to vue app  -->



<div id="app" class="d-none">

  <nav-bar>
    <input id="ejsdata" type="text" class="d-none" value="<%= logs?JSON.stringify(logs):[]  %>">

    <%= title?title:"Deafult Title" %>
    <div class="badge font-monospace fw-lighter" style="font-size: 12px;font-weight: 200;">(<%= user?user:"" %>)</div>
  </nav-bar>


  <div v-if="!inform && !outform ">
   
    <div class="container" style="display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    ">
      <div class="card w-50">
        <div class="card-header small">Last In</div>
        <div class="card-body small">
         
        
            <li>
              \
            </li>
            <li>
              GPno-
            </li>
       
        </div>
      </div>
      <button class="m-2 p-4 rounded w-50" @click="inform =!inform">in</button>
    </div>
    
    <hr>

    <div class="container" style="display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    ">
      <div class="card w-50">
        <div class="card-header small">Last Out</div>
        <div class="card-body small">
          
      
            <li>\
            </li>
            <li>
              GPno-
            </li>
     
        </div>
      </div>
      <button class="m-2 p-4 rounded w-50" @click="outform=!outform">out</button>
    </div>
  </div>


  <div class="" style="height: 90vh;" v-if="inform">
    <div class="container my-3">
      <h1 class="d-inline">IN</h1>
      <div class="btn btn-outline-primary float-end " @click="inform = !inform">
        <span>cancel</span>
      </div>
    </div>
    <hr>
    <form action="/gateman" method="post" autocomplete="off" class="m-0 p-0 container card small">
      <div class="bg-light p-4 ">
        <p>
          <!-- <h4>IN Form</h4> -->
          Truck no* :<br><input name="truckno" required> <br>
          <!-- logTime :<input name="logTime" id=""> <br> -->
          <!-- sampleDate* :<br><input type="date" name="sampleDate" required><br> -->
          Bags* :<br><input name="bags" inputmode="numeric" required> <br>
          <!-- branReport :<br><input name="branReport" inputmode="numeric"><br> -->
          <!-- plantBranReport :<br><input name="plantBranReport" inputmode="numeric"> <br> -->
          Party :<br><input name="party"> <br>
          Broker :<br><input name="broker"> <br>
          Naration :<br><input name="naration"> <br>
          User :<br>  <input name="user" value="<%= user %>" disabled class="border-none"> <br>
          <input type="submit" value="submit" class="btn btn-primary m-4">
        </p>
      </div>
    </form>
  </div>






  <div class="" style="height: 90vh;" v-if="outform ">
    <div class="container my-3">
      <h1 class="d-inline">OUT</h1>
      <div class="btn btn-outline-primary float-end " @click="outform = !outform">
        <span>cancel</span>
      </div>
    </div>

    <hr>
    <form action="/gateman" method="post" autocomplete="off" class="m-0 p-0 container card small">
      <div class="bg-light p-4 ">
        <p>

          <!-- <h4>IN Form</h4> -->
          Truck no* :<br><input name="truckno" required> <br>
          <!-- logTime :<input name="logTime" id=""> <br> -->
          <!-- sampleDate* :<br><input type="date" name="sampleDate" required><br> -->
          Bags* :<br><input name="bags" inputmode="numeric" required> <br>
          <!-- branReport :<br><input name="branReport" inputmode="numeric"><br> -->
          <!-- plantBranReport :<br><input name="plantBranReport" inputmode="numeric"> <br> -->
          gatepass no* : <br> <input name="bags" inputmode="numeric" required> <br>
          <div class="card d-inline-block ps-2">
            Party :<input name="party" disabled><br>
            Broker :<input name="broker" disabled><br>
            Naration :<input name="naration" disabled><br>
          </div>
          OutNaration :<br><input name="outNaration"> <br>
          User :<br><input name="user" value="<%= user %>" disabled> <br>
          <input type="submit" value="check" class="btn btn-primary m-4">
        </p>
      </div>
    </form>

  </div>

</div>



<%- include('../partials/footer') -%>